.mainfooter {
    display: flex;
    flex-direction: column;
    background: rgba(236, 235, 255, 0.6);
    height: 600px;
    justify-content: center;
    align-items: center;
}
.footer-main-div {

    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.main-footer-div {
    margin-right: 100px;
    margin-left: 100px;
}
.footer-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2F2E41;
    margin-bottom: 30px;
}
.main-footer-div-info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
    color: #717082;
}
.lastline {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.lastinfo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #9893A3;
}
@media (max-width: 1200px) {
    .main-footer-div {
        margin-right: 50px;
        margin-left: 50px;
    }
    .lastline {
        top: 130px;
    }
}
@media (max-width: 750px) {
    .footer-main-div {
        grid-template-columns: 1fr 1fr;
    }
}

